In [1]:
##                         Phase 1 - Setup & Data Loading

In [4]:
##Import the librery to work on it
import pandas as pd

In [6]:

##import data 
df = pd.read_excel(r"C:\Users\bhaga\OneDrive\Documents\Desktop\PythonProject\Bank_DataAnalysis_With_Python.ipynb")
df.head()

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [7]:
df.head()

NameError: name 'df' is not defined

In [ ]:
##Check all the columns and table structure
##Similar to Exec sp_help d;
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    120 non-null    int64
 1   transaction_date  120 non-null    datetime64[ns]
 2   customer_id       120 non-null    object
 3   customer_name     120 non-null    object
 4   account_type      120 non-null    object
 5   branch            120 non-null    object
 6   city              120 non-null    object
 7   transaction_type  120 non-null    object
 8   amount            120 non-null    int64
 9   balance           120 non-null    int64
 10  channel           120 non-null    object
 11  status            120 non-null    object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 11.4+ KB

In [ ]:
##if there is null values avalaible
##USing count we can see if there is null values or not
df.isnull().sum()

transaction_id      0
transaction_date    0
customer_id         0
customer_name       0
account_type        0
branch              0
city                0
transaction_type    0
amount              0
balance             0
channel             0
status              0
dtype: int64

In [ ]:
##Check duplicate
##Similar to sql: using rank function row_number if more that i recorde is avlaible its duplicate & we should remove it
df.duplicated().sum()

np.int64(0)

In [ ]:
##Convert transaction_date to datetime
df['transaction_date'] = pd.to_datetime(df['transaction_date'])

In [ ]:
df

,transaction_id,transaction_date,customer_id,customer_name,account_type,branch,city,transaction_type,amount,balance,channel,status
0,1,2024-05-25,C10,Vikas,Current,Rural,Chennai,Payment,731,49269,Branch,Failed
1,2,2024-05-05,C23,Amit,Savings,Urban,Bangalore,Deposit,4825,54094,Branch,Failed
2,3,2024-05-19,C3,Priya,Savings,Main,Chennai,Deposit,9014,63108,UPI,Failed
3,4,2024-05-30,C24,Neha,Savings,Urban,Hyderabad,Transfer,11788,51320,NetBanking,Failed
4,5,2024-02-07,C4,Vikas,Current,City,Hyderabad,Withdrawal,3862,47458,UPI,Failed
...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,2024-02-10,C9,Pooja,Current,Rural,Delhi,Withdrawal,15580,-743322,NetBanking,Success
116,117,2024-02-17,C16,Neha,Current,City,Delhi,Deposit,6432,-736890,Branch,Success
117,118,2024-02-25,C1,Amit,Savings,Main,Chennai,Withdrawal,12169,-749059,Branch,Success
118,119,2024-06-27,C7,Raj,Current,Main,Hyderabad,Payment,3571,-752630,NetBanking,Success
119,120,2024-01-22,C4,Rohit,Current,Urban,Chennai,Withdrawal,11534,-764164,UPI,Failed

In [ ]:
##Create transaction_flag (Debit / Credit)
df['transaction_flag'] = df['transaction_type'].map(
    {
        'Withdrawal': 'Debit',
        'Payment': 'Debit',
        'Transfer': 'Debit',
        'Deposit': 'Credit'
    }
).fillna('Unknown')

In [ ]:
df

,transaction_id,transaction_date,customer_id,customer_name,account_type,branch,city,transaction_type,amount,balance,channel,status,transaction_flag
0,1,2024-05-25,C10,Vikas,Current,Rural,Chennai,Payment,731,49269,Branch,Failed,Debit
1,2,2024-05-05,C23,Amit,Savings,Urban,Bangalore,Deposit,4825,54094,Branch,Failed,Credit
2,3,2024-05-19,C3,Priya,Savings,Main,Chennai,Deposit,9014,63108,UPI,Failed,Credit
3,4,2024-05-30,C24,Neha,Savings,Urban,Hyderabad,Transfer,11788,51320,NetBanking,Failed,Debit
4,5,2024-02-07,C4,Vikas,Current,City,Hyderabad,Withdrawal,3862,47458,UPI,Failed,Debit
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,2024-02-10,C9,Pooja,Current,Rural,Delhi,Withdrawal,15580,-743322,NetBanking,Success,Debit
116,117,2024-02-17,C16,Neha,Current,City,Delhi,Deposit,6432,-736890,Branch,Success,Credit
117,118,2024-02-25,C1,Amit,Savings,Main,Chennai,Withdrawal,12169,-749059,Branch,Success,Debit
118,119,2024-06-27,C7,Raj,Current,Main,Hyderabad,Payment,3571,-752630,NetBanking,Success,Debit
119,120,2024-01-22,C4,Rohit,Current,Urban,Chennai,Withdrawal,11534,-764164,UPI,Failed,Debit

In [ ]:
##After clean the database save it
df.to_excel("bank_data.xlsx", index = False)

In [ ]:
df

,transaction_id,transaction_date,customer_id,customer_name,account_type,branch,city,transaction_type,amount,balance,channel,status
0,1,2024-05-25,C10,Vikas,Current,Rural,Chennai,Payment,731,49269,Branch,Failed
1,2,2024-05-05,C23,Amit,Savings,Urban,Bangalore,Deposit,4825,54094,Branch,Failed
2,3,2024-05-19,C3,Priya,Savings,Main,Chennai,Deposit,9014,63108,UPI,Failed
3,4,2024-05-30,C24,Neha,Savings,Urban,Hyderabad,Transfer,11788,51320,NetBanking,Failed
4,5,2024-02-07,C4,Vikas,Current,City,Hyderabad,Withdrawal,3862,47458,UPI,Failed
...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,2024-02-10,C9,Pooja,Current,Rural,Delhi,Withdrawal,15580,-743322,NetBanking,Success
116,117,2024-02-17,C16,Neha,Current,City,Delhi,Deposit,6432,-736890,Branch,Success
117,118,2024-02-25,C1,Amit,Savings,Main,Chennai,Withdrawal,12169,-749059,Branch,Success
118,119,2024-06-27,C7,Raj,Current,Main,Hyderabad,Payment,3571,-752630,NetBanking,Success
119,120,2024-01-22,C4,Rohit,Current,Urban,Chennai,Withdrawal,11534,-764164,UPI,Failed

In [ ]:
##                             Phase 2 – Transaction Analysis

In [ ]:
##Transection Analysis
#We will compute:
    
#Total transactions
#Total amount by transaction_type
#Account_type wise amount
#City wise volume
#Monthly trends
#Failed transaction %

In [ ]:
#Total transactions
df['transaction_id'].count()

np.int64(120)

In [ ]:
##Total amount by transaction_type
sales_by_transection_type = df.groupby('transaction_type')['amount'].sum()
sales_by_transection_type

transaction_type
Deposit       152805
Payment       198177
Transfer      490828
Withdrawal    277964
Name: amount, dtype: int64

In [ ]:
##Account_type wise amount
Account_Type_Amount = df.groupby('account_type')['amount'].sum()
Account_Type_Amount

account_type
Current    532691
Savings    587083
Name: amount, dtype: int64

In [ ]:
##City wise volume
City_Wise_Volume = df.groupby('city')['transaction_id'].count().sort_values(ascending=False)
City_Wise_Volume

city
Mumbai       28
Hyderabad    25
Bangalore    23
Delhi        23
Chennai      21
Name: transaction_id, dtype: int64

In [ ]:
##Monthly trends
df['month_year'] = df['transaction_date'].dt.to_period('M')

Monthly_Trends = df.groupby('month_year')['amount'].sum()
Monthly_Trends

month_year
2024-01     92999
2024-02    170079
2024-03    230128
2024-04    327639
2024-05    158521
2024-06    140408
Freq: M, Name: amount, dtype: int64

In [ ]:
##Failed transaction %
Faild_Trans = (df[df['status'] == 'Failed'].groupby('status')['status'].count() * 100) / df['status'].count() 
Faild_Trans

status
Failed    46.666667
Name: status, dtype: float64

In [ ]:
##                             Phase 3 – Customer & Channel Insights

In [ ]:
##Customer & Channel Insights
#Top 5 customers by value

#Low / negative balance customers

#Channel contribution %

#Avg transaction per channel

#High-withdrawal anomaly detection

In [ ]:
#Top 5 customers by value
Top_5_Customer_BY_Value = df.groupby(['customer_id','customer_name'])['amount'].sum().sort_values(ascending=False).head(5)
Top_5_Customer_BY_Value

customer_id  customer_name
C3           Priya            42882
C2           Priya            38191
C27          Rohit            36764
C4           Rohit            30834
C10          Raj              24185
Name: amount, dtype: int64

In [ ]:
#Low / negative balance customers
df[df['balance'] < 1000]

,transaction_id,transaction_date,customer_id,customer_name,account_type,branch,city,transaction_type,amount,balance,channel,status
12,13,2024-03-10,C8,Kunal,Savings,Rural,Hyderabad,Withdrawal,17236,-4554,UPI,Success
13,14,2024-03-16,C22,Amit,Savings,Urban,Mumbai,Transfer,11152,-15706,Branch,Failed
14,15,2024-01-31,C5,Suman,Current,Urban,Delhi,Withdrawal,14599,-30305,Branch,Failed
15,16,2024-04-07,C11,Neha,Savings,Rural,Delhi,Deposit,1706,-28599,UPI,Success
16,17,2024-03-25,C3,Neha,Current,Main,Hyderabad,Transfer,8398,-36997,NetBanking,Failed
...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,2024-02-10,C9,Pooja,Current,Rural,Delhi,Withdrawal,15580,-743322,NetBanking,Success
116,117,2024-02-17,C16,Neha,Current,City,Delhi,Deposit,6432,-736890,Branch,Success
117,118,2024-02-25,C1,Amit,Savings,Main,Chennai,Withdrawal,12169,-749059,Branch,Success
118,119,2024-06-27,C7,Raj,Current,Main,Hyderabad,Payment,3571,-752630,NetBanking,Success
119,120,2024-01-22,C4,Rohit,Current,Urban,Chennai,Withdrawal,11534,-764164,UPI,Failed

In [ ]:
#Channel contribution %
Channel_Contribution = round((df.groupby('channel')['amount'].sum()/df['amount'].sum()).sort_values(ascending=False) * 100)
Channel_Contribution

channel
NetBanking    30.0
UPI           29.0
Branch        27.0
ATM           14.0
Name: amount, dtype: float64

In [ ]:
#Avg transaction per channel
Avg_Transection_Per_Channel = df.groupby('channel')['amount'].mean()
Avg_Transection_Per_Channel

channel
ATM            6686.260870
Branch         9898.258065
NetBanking     9789.794118
UPI           10196.593750
Name: amount, dtype: float64

In [ ]:
##High-withdrawal anomaly detection
High_Withdrawls = df[df['transaction_type']=='Withdrawal'].groupby('customer_id')['amount'].sum().sort_values(ascending=False).head(5)
High_Withdrawls

customer_id
C8     50350
C27    36764
C4     34696
C5     23086
C24    20835
Name: amount, dtype: int64

In [ ]:
##                     Phase 4 – Pandas + SQL Mapping

In [ ]:
#Pandas vs SQL
#Monthly Trend
#Pandas

#SQL
#Select MONTH(transection_id) as month,
#sum(amount)
#from bank_transections
#group by MONTH(transection_id);

In [ ]:
#Top customer
#Pandas
df.groupby('customer_id')['amount'].sum().sort_values(ascending=False).head(5)

#SQL
#select Top(5) customer_id,
#SUM(amount) as Tottal_Sales
#from banl_transections
#group by customer_id
#order by SUM(amount) DESC

customer_id
C8     86752
C3     82949
C15    76599
C27    69958
C4     67472
Name: amount, dtype: int64

In [ ]:
df

,transaction_id,transaction_date,customer_id,customer_name,account_type,branch,city,transaction_type,amount,balance,channel,status
0,1,2024-05-25,C10,Vikas,Current,Rural,Chennai,Payment,731,49269,Branch,Failed
1,2,2024-05-05,C23,Amit,Savings,Urban,Bangalore,Deposit,4825,54094,Branch,Failed
2,3,2024-05-19,C3,Priya,Savings,Main,Chennai,Deposit,9014,63108,UPI,Failed
3,4,2024-05-30,C24,Neha,Savings,Urban,Hyderabad,Transfer,11788,51320,NetBanking,Failed
4,5,2024-02-07,C4,Vikas,Current,City,Hyderabad,Withdrawal,3862,47458,UPI,Failed
...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,2024-02-10,C9,Pooja,Current,Rural,Delhi,Withdrawal,15580,-743322,NetBanking,Success
116,117,2024-02-17,C16,Neha,Current,City,Delhi,Deposit,6432,-736890,Branch,Success
117,118,2024-02-25,C1,Amit,Savings,Main,Chennai,Withdrawal,12169,-749059,Branch,Success
118,119,2024-06-27,C7,Raj,Current,Main,Hyderabad,Payment,3571,-752630,NetBanking,Success
119,120,2024-01-22,C4,Rohit,Current,Urban,Chennai,Withdrawal,11534,-764164,UPI,Failed

In [ ]:
#Status Trend
#Pandas
Status = df[df['status']=='Failed'].groupby('status')['amount'].count() * 100 / df['status'].count()
Status 
#SQL
#SELECT 
#COUNT(CASE WHEN status='Failed' THEN 1 END)*100.0/COUNT(*) AS failed_percentage
#FROM bank_transactions;

status
Failed    46.666667
Name: amount, dtype: float64

In [ ]:
##Channel Usage
#Pandas
Channel_Usage = df.groupby('channel')['amount'].sum()
#SQL
#SELECT channel, SUM(amount) FROM bank_transactions GROUP BY channel;

channel
ATM           153784
Branch        306846
NetBanking    332853
UPI           326291
Name: amount, dtype: int64

In [ ]:
##City Rankings
#Pandas
City_Ranking = df.groupby('city')['amount'].sum().rank(ascending=True)
City_Ranking
#Sql
#SELECT city, SUM(amount) FROM bank_transactions GROUP BY city ORDER BY SUM(amount) DESC;

city
Bangalore    1.0
Chennai      2.0
Delhi        3.0
Hyderabad    4.0
Mumbai       5.0
Name: amount, dtype: float64

In [ ]:
#Pandas
City_Ranking = df.groupby(['city','customer_name'])['amount'].sum().rank(ascending=True)
City_Ranking

city       customer_name
Bangalore  Amit             18.0
           Anita             3.0
           Neha             29.0
           Pooja            20.0
           Priya             5.0
           Raj              27.0
           Rohit            15.0
           Suman            22.0
           Vikas            30.0
Chennai    Amit             25.0
           Anita            24.0
           Kunal             4.0
           Pooja            11.0
           Priya            32.0
           Rohit            41.0
           Suman             1.0
           Vikas            39.0
Delhi      Amit             10.0
           Anita            28.0
           Neha             21.0
           Pooja            35.0
           Priya            44.0
           Raj              31.0
           Rohit             6.0
           Suman             9.0
Hyderabad  Amit             26.0
           Anita            19.0
           Kunal            36.0
           Neha             40.0
           Pooja             8.0
           Priya            23.0
           Raj               2.0
           Rohit            17.0
           Suman            14.0
           Vikas            33.0
Mumbai     Amit             34.0
           Anita            13.0
           Kunal            38.0
           Neha              7.0
           Pooja            16.0
           Priya            12.0
           Raj              42.0
           Rohit            43.0
           Suman            37.0
Name: amount, dtype: float64

In [ ]:
##                       Phase 5 – Risk & Business Insights

In [ ]:
##Risk & Business Insights
df[df['status'] == 'Failed'].groupby('customer_id')['status'].count() >= 3

customer_id
C10     True
C11    False
C12    False
C13    False
C14    False
C15     True
C17     True
C18    False
C19    False
C2      True
C20    False
C21    False
C22     True
C23    False
C24     True
C25    False
C26    False
C27    False
C28    False
C29    False
C3      True
C30    False
C4      True
C5      True
C6     False
C7     False
C8     False
Name: status, dtype: bool

In [ ]:
##Sudden high withdrawal compared to average

In [ ]:
##ATM cash dependency
df[df['channel'] == 'ATM'].groupby('customer_id')['channel'].count().sort_values(ascending=False)

customer_id
C15    5
C3     2
C25    2
C1     1
C24    1
C4     1
C29    1
C28    1
C27    1
C22    1
C13    1
C21    1
C20    1
C18    1
C17    1
C14    1
C8     1
Name: channel, dtype: int64

In [ ]:
## Balance volatility (risk indicator)